.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

placeholder
application/config/database.php.orig
application/views/main/index.php.orig
application/views/main/index_BACKUP_18780.php
application/views/main/index_BASE_18780.php
application/views/main/index_LOCAL_18780.php
application/views/main/index_REMOTE_18780.php
application/views/templates/left_side.php.orig
